@use "../abstracts";

html {
    --text-color: #1A162E;
    --icon-color: brightness(0) saturate(100%) invert(7%) 
    sepia(33%) saturate(2005%) hue-rotate(220deg) brightness(96%) 
    contrast(94%);

    --body-bg: #F6F6F6;
    --header-bg-color: #eee;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.20);
    --top-act-group-separate:#EDEDF6;

    @include abstracts.screen(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.20);
    }

    // Header action Dropdown
    --act-dropdown-bg: #fff;
    --act-dropdown-shadow: rgba(200, 200, 200, 0.40);
    --act-bottom-border-color: #D2D1D6;
    --cart-preview-item-img-wrap-border: #ebebee;

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow-color: rgba(200, 200, 200, 0.40);
    --top-menu-border-color: #D2D1D6;
    --menu-column-test-color: #1A162E;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(6%) 
    sepia(28%) saturate(2531%) hue-rotate(222deg) brightness(98%) 
    contrast(94%);

    // Sidebar
    --sidebar-bg:#fff;
    --sidebar-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.40);

    // Category
    --cate-item-bg: #eee;
    --cate-item-thumb-bg: #fff;
    --cate-item-title-color: #000;

    @include abstracts.screen(lg) {
        --cate-item-bg: #fff;
    }

    // Button
    --filter-btn-bg: #fff;
    --filter-btn-color: #6C6C72;
    --like-btn-bg:#fff;
    --like-btn-icon-hover: brightness(0) saturate(100%) invert(36%) sepia(99%) saturate(1729%) hue-rotate(337deg) brightness(109%) contrast(95%);

    // Product card
    --product-card-bg: #fff;
    --product-card-shadow: rgba(237, 237, 246, 0.20);

    // Filter-form
    --filter-form-bg: #fff;
    --filter-form-arrow: var(--filter-form-bg);
    --filter-form-shadow: rgba(200, 200, 200, 0.40);
    --form-tag-bg: #e3e3e6;

    // Footer
    --footer-bg-color: var(--header-bg-color);
    --footer-input-email: var(--filter-btn-color);
    --footer-link-hover: #000;
    --footer-desc-small: #bdbdbe;

    // Auth
    --auth-content-bg: #fff;

    @include abstracts.screen(md) {
        --auth-intro-bg: #fff;
    }

    // Form
    --from-text-input: #9E9DA8;
    --form-tag-bg: #EDEDF6;

    // Product detail
    --product-detail-bg: #fff;
    --prod-info-bg: #fff;

    @include abstracts.screen(md) {
    --product-detail-bg: #FAFAFD;
    }

    // Breadcrumbs
    --breadcrumbs-bg: #F6F6F6;
    --breadcrumbs-shadow: rgba(237, 237, 246, 0.20);

    @include abstracts.screen(md) {
        --breadcrumbs-bg: #fff;
    }

    // Search bar
    --search-bar-bg: #fff;

    // Product content
    --prod-tab-current-color: #1A162E;
    --review-card-bg: #FAFAFD;

    @include abstracts.screen(md) {
        --review-card-bg: #fff;
    }

    // Test content
    --tex-content-hr-bg: #ebebeb;

    
    

}