@use "../abstracts";

.form {
    &__group {
        margin-top: 30px;

        &--inline {
            display: flex;
            align-items: center;
        }

        @include abstracts.screen(md) {
            margin-top: 20px;
        }
    }

    &__text-area, &__text-input {
        display: flex;
        align-items: center;
        padding: 0 12px;
        border-radius: 10px;
        border: 1.5px solid var(--form-text-input);

        &:focus-within {
            border-color: #77DAE6;
        }
    }

    &__row {
        display: flex;
        gap: 20px;

        @include abstracts.screen(sm) {
            flex-direction: column;
            gap: 0;
        }

        > * {
            flex: 1;
        }
    }

    &__text-area {
        height: 100px;
        padding: 12px;
    }
    
    &__text-area-input {
        resize: none;
    }

    &__text-input {
        position: relative;
        height: 50px;

        &--small {
            height: 42px;	
        }
        
        @include abstracts.screen(md) {
            height: 48px;
        }
    }

    &__pull-right {
        margin-left: auto;
    }

    &__checkbox {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        user-select: none;

        &-label {
            margin-left: 29px;
            color: #9E9DA8;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 146.667%;

            @include abstracts.screen(md) {
                font-size: 1.4rem;
            }
        }

        &::before, &::after {
            content: "";
            position: absolute;
        }

        &::before {
            width: 19px;
            height: 19px;
            border-radius: 5px;
            border: 1.5px solid #9E9DA8;
        }
    }

    &__input, &__text-area-input {
        flex: 1;
        height: 100%;
        width: 100%;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 144.444%;
        
        &::placeholder {
            color: var(--form-text-input);
        }
    
        @include abstracts.screen(md) {
            font-size: 1.6rem;
        }
    }  
    
    &__select-dialog {
        position: absolute;
        bottom: 44px;
        left: 10px;
        z-index: 1;

        display: flex;
        flex-direction: column;

        opacity: 0;
        visibility: hidden;
        translate: 0 10px;

        transition: opacity, visibility, translate;
        transition-duration: 0.2s;

        min-width: 230px;
        max-height: 310px;

        padding-bottom: 10px;
        border-radius: 10px;
        border: 1px solid #D2D1D6;
        background: var(--dialog-bg);
        box-shadow: 0px 20px 60px 10px var(--dialog-shadow);

        &.show {
            opacity: 1;
            visibility: visible;
            translate: 0;
        }

        @include abstracts.screen(md) {
            max-height: 290px;
        }

        @include abstracts.screen(sm) {
            position: fixed;
            max-width: initial;
            max-height: initial;
            inset: 0;
            border-radius: 0;
        }
    }

    &__search {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        
        height: 38px;
        padding: 0 20px;
        border-bottom: 1px solid #D2D1D6;

        &-input {
            flex: 1;
            height: 100%;

            font-size: 1.6rem;
            font-weight: 500;
            line-height: 145.455%;
        }

        &-icon {
            width: 16px;
            height: 16px;
            margin-left: 10px;
        }

        @include abstracts.screen(lg) {
            height: 42px;

        }

        @include abstracts.screen(sm) {
            margin: 10px 20px 0;
            padding: 0 14px;

            border-radius: 10px;
            border: 1px solid #D2D1D6;
        }
    }

    &__close-dialog {
        font-size: 3rem;
        position: absolute;
        right: 0;
        top: 0;
        padding: 2px 18px;
        opacity: 0.5;
    }

    &__options-list {
        flex: 1;
        overflow-y: auto;
        margin-top: 5px;
        overscroll-behavior: contain;
    }

    &__option {
        padding: 8px 20px;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 145.455%;

        &--current {
            font-weight: 500;
            background: rgba($color: #FFB700, $alpha: 0.5);
        }

        &:not(&--current):hover {
            background: var(--dialog-option-hover);
            cursor: pointer;
        }

        @include abstracts.screen(lg) {
            padding: 14px 20px;
        }
    }

    &__dialog-heading {
        font-size: 1.8rem;
        font-weight: 600;
        text-align: center;
        padding: 14px;
    }
}

.form__input-icon {
    margin-left: 12px;
    width: 24px;
    height: 24px;
}

.form {
    &:has(:invalid) &__submit-btn {
        opacity: 0.5;
        pointer-events: none;
    }

    &__error {
        text-align: left;
        font-size: 1.4rem;
        font-weight: 500;
        margin-top: 10px;
        color: red;
        display: none;
    }
    
    &__input-icon-error {
        display: none;
        width: 24px;
        height: 24px;
        margin-left: 12px;
        animation: shake 0.9s;
    }
}

.form__group:has(:invalid):has(.form__input:not(:placeholder-shown)) {
    .form__text-input {
        border-color: red;
        background: rgba($color: red, $alpha: 0.1);
    }

    .form__error, .form__input-icon-error {
        display: block;
    }

    .form__input-icon {
        display: none;
    }
}

.form__checkbox:has(:checked) {
    &::before {
        border-color: #FFB700 ;
        background: #FFB700;
    }

    &::after {
        width: 12px;
        height: 8px;
        border: 2px solid;
        border-color: transparent transparent #fff #fff;
        rotate: -45deg;
        left: 3px;
        top: 4px;
    }
}

.form__label {
    display: block;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%;

        &--small {
            margin-bottom: 10px;
            font-size: 1.4rem;
            line-height: 142.857%;
        }
}

.form__select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 14px;
    min-width: var(--width, 108px);
    height: calc(100% - 10px);

    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;
    cursor: pointer;

    @include abstracts.screen(xl) { 
        flex: 1;
    }

    &-wrap {
        display: flex;
        align-items: center;
        height: 45px;
        border-radius: 6px;
        border: 1px solid #D2D1D6;
    }
}

.form__select + .form__select {
    border-left: 1px solid #D2D1D6;
}

.form__tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px 20px;
}

.form__tag {
    padding: 6px 12px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%;
    color: #9E9DA8;

    border-radius: 6px;
    background: var(--form-tag-bg);
    transition: color;
    transition-duration: 0.2s;

    &:hover {
        color: var(--text-color);
        background: #FFB700;
    }
}