<div class="container">
    <div class="footer__row">
        <div class="footer__infor">
            <!-- Logo -->
            <a href="./" class="logo">
                <img src="./assets/icons/logo.svg" alt="grocerymart" class="footer__infor--logo logo__img" />
                <h1 class="footer__infor-logo--title logo__title">grocerymart</h1>
            </a>
            <!-- Content -->
            <p class="footer__infor-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque illum quibusdam ea perferendis libero
                distinctio rem vitae molestiae, error, inventore quae deserunt fugit. Quisquam pariatur itaque quidem
                reprehenderit dolorem praesentium!
            </p>

            <!-- News -->
            <p class="footer__infor-updates">Receive product news and updates</p>

            <!-- Button e-mail -->
            <div class="footer__infor-email">
                <input type="text" name="" id="" placeholder="Email address..." class="footer__infor-address" />
                <button class="footer__infor-send btn btn--primary">SEND</button>
            </div>
        </div>
        <div class="footer__menu">
            <h1 class="footer__menu-heading">SHOP</h1>
            <ul class="footer__menu-list">
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-item-link">All Departments</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-item-link">Fashion Deals</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-item-link">Electronics Discounts</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-item-link">Home & Living Specials</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-item-link">Beauty Bargains</a>
                </li>
            </ul>
        </div>
        <div class="footer__menu">
            <h1 class="footer__menu-heading">SUPPORT</h1>
            <ul class="footer__menu-list">
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-item-link">Store locator</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-item-link">Order status</a>
                </li>
            </ul>
        </div>
        <div class="footer__menu">
            <h1 class="footer__menu-heading">SHOP</h1>
            <ul class="footer__menu-list">
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-item-link">Customer Service</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-item-link">Terms of Use</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-item-link">Privacy</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-item-link">Careers</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-item-link">About</a>
                </li>
                <li class="footer__menu-item">
                    <a href="#!" class="footer__menu-item-link">Affiliates</a>
                </li>
            </ul>
        </div>
        <div class="footer__menu">
            <h1 class="footer__menu-heading">COMPANY</h1>
            <h2 class="footer__menu-item">Email</h2>
            <p class="footer__menu-desc footer__menu-desc--bold">contact@grocerymart.com</p>
            <h2 class="footer__menu-item">Hotline</h2>
            <p class="footer__menu-desc footer__menu-desc--bold">18008888</p>
            <h2 class="footer__menu-item">Address</h2>
            <p class="footer__menu-desc footer__menu-desc--small">
                No.11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City.Hanoi
            </p>
            <h2 class="footer__menu-item">Hours</h2>
            <p class="footer__menu-desc footer__menu-desc--small">M-F 08:00am - 06:00pm</p>
        </div>
    </div>

    <div class="footer__social">
        <a href="#!" class="footer__social-link">
            <img src="./assets/img/footer-social/social-1.png" alt="" class="footer__social-icon">
            </img>
        </a>
            
        <a href="#!" class="footer__social-link">
            <img src="./assets/img/footer-social/social-2.png" alt="" class="footer__social-icon">
            </img>
        </a>
            
        <a href="#!" class="footer__social-link">
            <img src="./assets/img/footer-social/social-3.png" alt="" class="footer__social-icon">
            </img>
        </a>
           
        <a href="#!" class="footer__social-link">
            <img src="./assets/img/footer-social/social-4.png" alt="" class="footer__social-icon icon">
            </img>
        </a>
            
        <a href="#!" class="footer__social-link">
            <img src="./assets/img/footer-social/social-5.png" alt="" class="footer__social-icon">
            </img>
        </a>
            
    </div>
</div>

