
<div class="container">
    <!-- Footer infor -->
        <div class="footer__row">
            <!-- Column 1 -->
            <div class="footer__col-infor">
                <!-- Logo -->
                <a href="./" class="footer__logo">
                    <img src="./assets/icons/logo.svg" alt="grocerymart" class="footer__logo-img" />
                    <h1 class="footer__logo-title">grocerymart</h1>
                </a>
                <!-- Content -->
                <p class="footer__content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque illum quibusdam ea perferendis libero
                    distinctio rem vitae molestiae, error, inventore quae deserunt fugit. Quisquam pariatur itaque quidem
                    reprehenderit dolorem praesentium!
                   
                </p>
    
                <!-- News -->
                <p class="footer__updates">Receive product news and updates</p>
    
                <!-- Button e-mail -->
                <div class="footer__form">
                    <input type="text" name="" id="" placeholder="Email address..." class="footer__address" />
                    <button class="footer__send btn btn--primary">SEND</button>
                </div>
            </div>
            <div class="footer__menu">
                <!-- Column 2 -->
                <div class="footer__col">
                    <h3 class="footer__heading">SHOP</h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link">All Departments</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Fashion Deals</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Electronics Discounts</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Home & Living Specials</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Beauty Bargains</a>
                        </li>
                    </ul>
                </div>
                <!-- Column 3 -->
                <div class="footer__col">
                    <h3 class="footer__heading">SUPPORT</h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Store locator</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Order status</a>
                        </li>
                    </ul>
                </div>
                <!-- Column 4 -->
                <div class="footer__col">
                    <h3 class="footer__heading">COMPANY</h3>
                    <ul class="footer__list">
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Customer Service</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Terms of Use</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Privacy</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Careers</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">About</a>
                        </li>
                        <li class="footer__item">
                            <a href="#!" class="footer__link">Affiliates</a>
                        </li>
                    </ul>
                </div>
                <!-- Column 5 -->
                <div class="footer__col">
                    <h3 class="footer__heading">CONTACT</h3>
                    <h2 class="footer__item">Email</h2>
                    <p class="footer__desc footer__desc--bold">contact@grocerymart.com</p>
                    <h2 class="footer__item">Hotline</h2>
                    <p class="footer__desc footer__desc--bold">18008888</p>
                    <h2 class="footer__item">Address</h2>
                    <p class="footer__desc footer__desc--small">
                        No.11D, Lot A10, Nam Trung Yen urban area, Yen Hoa Ward, Cau Giay District, City.Hanoi
                    </p>
                    <h2 class="footer__item">Hours</h2>
                    <p class="footer__desc footer__desc--small">M-F 08:00am - 06:00pm</p>
                </div>
            </div>
        </div>
    <!-- Social button -->
        <div class="footer__social">
            <a href="#!" class="footer__social-link">
                <img src="./assets/img/footer-social/social-1.png" alt="" class="footer__social-icon">
                </img>
            </a>
                
            <a href="#!" class="footer__social-link">
                <img src="./assets/img/footer-social/social-2.png" alt="" class="footer__social-icon">
                </img>
            </a>
                
            <a href="#!" class="footer__social-link">
                <img src="./assets/img/footer-social/social-3.png" alt="" class="footer__social-icon">
                </img>
            </a>
               
            <a href="#!" class="footer__social-link">
                <img src="./assets/img/footer-social/social-4.png" alt="" class="footer__social-icon icon">
                </img>
            </a>
                
            <a href="#!" class="footer__social-link">
                <img src="./assets/img/footer-social/social-5.png" alt="" class="footer__social-icon">
                </img>
            </a>
                
        </div>
</div>

